/* Style for the cover picture */
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

#notice{
    border-left: 2px solid #6c6c6c;
    padding-left: 5px;
}

.body-container {
    position: relative;
    width: 1387px;
    margin: 0 auto;
}

.profile-head{
    height: 439px;
    background-color: white;
}

.cover {
    background-image: url('../picture-banner/service-banner.png');
    background-size: cover;
    height: 70%;
    position: relative;
}

.avatarTop {
    background-image: url('../picture-banner/question.png');
    background-size: cover;
    border-radius: 5%;
    height: 178px;
    width: 178px;
    border: 1px solid #e5e5e5;
    position: relative;
}

.transparent-camera{
    position: absolute;
    bottom: 0;
    height: 52px;
    width: 178px;
    background: #c3c1c1;
    display: flex;
    align-items: center;
    opacity: 0.8;
}

#camera-icon{
    margin: 0 auto;
    height: 50px;
    width: 50px;
}

#change-image{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5%;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    top: -90px;
    left: 25px;
    position: relative;
}

.employer-seen-info{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 15px;
    padding-right: 10px;
    background-color: #f2f7ff;
    box-sizing: border-box;
    height: auto;
    width: 855px;
    display: flex;
    align-items: center;
    position: relative;
}

#employer-seen-name{
    margin-bottom: 8px;
    font-size: 22px;
}

#company-name{
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
}

#day-viewed{
    position: absolute;
    right:0;
    top:0;
    margin-right: 25px;
    margin-top: 20px;
    font-weight: 500;
}

.info-employee-wrapper{
    display: flex;
    margin-left: 25px;
    flex-direction: column;
    justify-content: center;
}

#employer-seen-name{
    color: #0c62ad;
    font-weight: bold;
}

#tick{
    width: 20px;
    height: 20px;
}

.name-viewer-wrapper {
    display: flex;
    margin-left: 25px;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
}

.name {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
}

.viewer-info {
    display: flex;
    align-items: center;
}

.viewer-icon {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background-image: url('../icons/eye-icon.png');
    background-size: cover;
}

.viewer-count {
    font-size: 18px;
    color: black;
}

.content-wrapper{
    margin-bottom: 35px;
}

.info-area{
    position: relative;
    padding-left: 25px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    height: fit-content;
    background-color: white;
}

#employer-seen{
    margin-top: 25px;
}

.area-title{
    border-left: 5px solid #0c62ad;
    padding-left: 7px;
    font-weight: 600;
    font-size: 20px;
}

.left-side-content{
    max-width: 912px;
}

.content-parent{
    position: relative;
    margin-top: 20px;
}

.edit-button{
    position: absolute;
    top:0;
    right:0;
    margin-right: 10px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url('../icons/edit-icon.png');
}

#location-ping{
    width: 20px;
    height: 20px;
}

.right-side-content{
    width: 443px;
    position: absolute;
    right: 0;
    top: 0;
}

#employer-logo{
    width: 121px;
    height: 121px;
    margin-left: 10px;
}

#achivement-area{
    margin-top: 25px;
}

#achive-icon{
    width: 40px;
    height: 40px;
}

.achive-item{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

.achive-name{
    margin-left: 15px;
}

#achive-more{
    width: 30px;
    height: 30px;
    right:0;
    position: absolute;
}

#activity-name{
    font-weight: 500;
}

#clock-icon{
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

#activities-area{
    margin-top: 25px;
}

.title-include-add{
    display: flex;
    align-items: center;
}

#add-button{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}