body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
}

.free-space {
    min-height: 730px;
    width: 80%;
    box-sizing: border-box;
    padding: 0 10% 5% 10%;
    font-size: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4C4B4B;
    background-color: white;
    margin-right: 20px;
}

.free-space .content-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    margin-bottom: 1.5em;
    width: 100%;
    gap: 1.5em;
    box-sizing: border-box;

}

.free-space h1 {
    text-align: center;
    color: #103785;
    font-size: 2em;
}

.free-space input,
.free-space select {
    border: 1px solid #0E4A67 !important;
    border-radius: 5px;

}


.free-space input,
.free-space button,
.free-space select {
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.8em;

}

.free-space .select {
    width: 100%;
}

.free-space .content-wrapper p {
    margin: 0;
}

.free-space .label {
    font-weight: bold;
    font-size: 1em;
    color: #207198;
}


.free-space .row {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
    flex-wrap: wrap;
}

.free-space .row .select {
    width: 45%;
}

.free-space .row .select select {
    width: 100%;
    font-weight: bold;
    color: #4C4B4B;
}


.free-space .input-wrapper {
    width: 100%;
}

.free-space .row .input-wrapper {
    width: 45%;
}

.free-space .row .input-wrapper input {
    width: 100%;
}


.free-space .group-buttons {
    display: flex;
    justify-content: end;

    flex-wrap: wrap;
    gap: 0.5em;
}

div.button {
    display: flex;
    align-items: center;
    border: 1px solid #0C62AD;
    color: #0C62AD;
    padding: 0.8em;
    gap: 0.5em;
    font-weight: bold;
    box-shadow: 1px 1px 3px gray;
    width: max-content;
    min-width: 100px;
    font-size: 1em;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

div.button:hover {
    cursor: pointer ;
    background-color: coral !important;
    color: white !important;
    border: 1px solid coral !important;
}

div.button.cancel {

    color: #7E7E7E;
    border: 1px solid #7E7E7E;

}

div.button.delete {
    color: red;
    border: 1px solid red;

}

div.button i {
    margin-top: 3px;
}

small {
    color: red;
}

.free-space .content-wrapper .double-select {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.free-space .content-wrapper .double-select .select {
    width: 45%;
}

.free-space .content-wrapper .double-select .select select {
    width: 100%;
    font-weight: bold;
}

.free-space .content-wrapper .text-area-group {
    width: 100%;
}

.free-space .content-wrapper .text-area-group textarea {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    padding: 0.5em;
}


/*
Post and user
*/
.free-space .content-wrapper .post {
    display: flex;
    border-radius: 5px;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    background-color: #F2F7FF;
}

.free-space .content-wrapper .post .avatar {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    padding: 0.5em;
    border-radius: 5px;
}


.free-space .content-wrapper .post .post-info {
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}


.free-space .content-wrapper .post .post-info .title {
    font-weight: bold;
    font-size: 1.2em;
}

.free-space .content-wrapper .post .post-info .post-description {
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.row-flex .item {
    width: max-content;
    color: white;
    background-color: #0C62AD;
    border-radius: 5px;
    padding: 3px 10px 5px 10px;
    /* max-width: 180px; */
    overflow-x: hidden;
}

.row-flex .item:hover {
    cursor: pointer;
}

.row-flex {
    justify-content: space-between;

}

.row-flex select {
    width: 70%;
}

.row-flex button {
    width: 10%;
}

.paging {
    display: flex;
    justify-content: center;
}

.paging .pagging-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 1em;

}

.paging .pagging-wrapper .page-item {
    border: 1px solid black;
    border-radius: 55%;
    box-shadow: 1px 1px 2px grey;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.paging .pagging-wrapper img.page-item {
    border: unset;
    box-shadow: unset;
}

.paging .pagging-wrapper .page-item:hover {
    cursor: pointer;
    color: white;
    background-color: skyblue;
}

.free-space .label {
    font-weight: bold;
}



@media screen and (max-width: 800px) {
    body {
        font-size: 16px !important;
    }

    body .content-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    body .content-wrapper .free-space {
        margin: 0;
    }

    .paging {
        width: 100%;
    }

    .paging .pagging-wrapper {
        width: 80% !important;
    }

    div.button {
        padding: 5px;
        width: auto !important;
    }

    .free-space input,
    .free-space button,
    .free-space select {
        padding: 5px !important;

    }

    .free-space .content-wrapper .text-area-group textarea {
        height: 100px;
    }

    .free-space .row .input-wrapper,
    .free-space .row .select {
        width: 100%;
    }

    /*Responseive for single user - post*/
    .free-space .content-wrapper .post {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .row-flex i {
        display: none;
    }

}

/*personal info*/
.cover-and-avatar {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px gray;
    margin-bottom: 1.5em;
    width: 100%;
    box-sizing: border-box;
}

.cover-and-avatar .cover {
    background-image: url('http://2.bp.blogspot.com/-mIBnH7Yu8t8/T44dEX94J2I/AAAAAAAAEXE/Vzn-4Obtjis/s1600/Love+Facebook+Covers.png');
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
    margin-bottom: 1.5em;
    border-radius: 10px;

}

.cover-and-avatar .cover .button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.cover-and-avatar .avatar-wrapper {
    padding: 20px 10px;
    display: flex;
    gap: 1em;
    border-radius: 10px;
}

.cover-and-avatar .avatar-wrapper .avatar {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-and-avatar .avatar-wrapper .avatar h3 {
    text-align: center;
    margin: 0;
}

.cover-and-avatar .avatar-wrapper .avatar img {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
}

.cover-and-avatar .avatar-wrapper .uploads {
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.cover-and-avatar .cover .btn-cover {
    color: white;
    background-color: #0C62AD;
    border-color: #0C62AD;
}

.cover-and-avatar .avatar-wrapper .uploads .button {
    margin-bottom: 10px;
}


@media screen and (max-width: 800px) {

    .free-space .content-wrapper,
    .free-space .cover-and-avatar {
        padding: 10px;
    }

    .free-space .cover-and-avatar .cover {
        height: 150px;
    }

    .free-space .cover-and-avatar .avatar-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .free-space .cover-and-avatar .avatar-wrapper .avatar {
        width: 80%;
        gap: 0.5em;
    }

    .free-space .cover-and-avatar .avatar-wrapper .avatar img {
        width: 100%;
        height: auto;
    }

    .free-space .cover-and-avatar .avatar-wrapper .uploads {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .free-space .cover-and-avatar .avatar-wrapper .uploads .description {
        display: none;
    }


}

/*predict-job*/

.predict-result {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F7FF;
    width: 100%;
    padding: 20px;
    gap: 1em;
    box-sizing: border-box;
}

.predict-result .single-result {
    width: 25%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
}

.predict-result .single-result .pipe {
    width: 85%;
    background-color: #D9D9D9;
    height: 100%;
    border-radius: 5px;

}

.predict-result .single-result .pipe .value {
    width: 66%;
    height: 100%;
    background-color: #0A66C2;
    border-radius: 5px;

}

.predict-result .value-text {
    padding-left: 10px;
}

/*Verify email*/
.free-space .content-wrapper .code-input {
    margin-bottom: 20px;
    width: 75%;
    display: inline-block;
}

.free-space .content-wrapper .email-icon {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.free-space .content-wrapper .email-icon i {
    font-size: 2em;
}

.free-space .content-wrapper .code-input input {
    width: 100%;

}

/* .group-buttons {
    justify-content: center !important;
} */


@media screen and (max-width: 600px) {
    .free-space .content-wrapper .row .code-input {
        width: 100%;
    }

    .free-space .content-wrapper .row .email-icon {
        width: 100%;
    }
}

/*Achievement*/

.content-wrapper .image-wrapper {
    padding: 20px 0;
    display: flex;
    gap: 1em;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrapper .image-wrapper .big-icon {
    width: 20%;
    height: auto;

}

.content-wrapper .image-wrapper .uploads {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.content-wrapper .image-wrapper .uploads .button {
    margin-bottom: 10px;
}


@media screen and (max-width: 600px) {

    .content-wrapper .image-wrapper .big-icon {
        width: 80%;
        height: 80%;
    }

    input,
    select,
    .select {
        width: 100% !important;
    }
}

/* spinner */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #71b7e6 transparent #9b59b6 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}